workflow_with_webhook.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/gen-questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6031ce5a-36c1-49fb-8300-79a410a26c5e",
      "name": "Webhook",
      "webhookId": "b9b44477-91f7-40fa-8ccb-c52d1e933369"
    },
    {
      "parameters": {
        "jsCode": "// validate_input\nconst body = $json;\n\n// Check basic shape\nif (!body || !body.lessons || !Array.isArray(body.lessons)) {\n  return [{\n    ok: false,\n    error: \"Invalid payload: 'lessons[]' missing or not an array.\",\n  }];\n}\n\n// Simple summary for confirmation\nconst courseName = body.course ?? \"Unknown Course\";\nconst lessonCount = body.lessons.length;\nconst firstLesson = body.lessons[0]?.title;\n\nreturn [{\n  ok: true,\n  course: courseName,\n  lessons_found: lessonCount,\n  first_lesson_title: firstLesson,\n  sample: body.lessons.slice(0, 2), // optional preview\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "f4faf344-8a63-418b-89fe-896261b440e4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n     ok: true,\n     course: $json.course,\n     lessons_found: $json.lessons_found,\n     first_lesson_title: $json.first_lesson_title\n   } }}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        0
      ],
      "id": "7c198cfa-4e5c-4a4c-a165-144ce46b3f26",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da81ebf6-c38b-439f-9744-3d08c28e833c",
  "meta": {
    "instanceId": "d4bcb2a0e78e7b10887e970439d45c2e1955dcabba8540b45755d6dcf4a635f0"
  },
  "id": "aYK6wmFSxgRsO6Xf",
  "tags": []
}